<template name="search">
  
  <h1>Search Programmes</h1>
  <p>To search programmes by name simply begin typing in the text field below and results will populate the page as you type</p>
  <br>
    {{> esInput index="programmes" placeholder="Search Programmes..." }}

    <ul>
        {{#esEach index="programmes"}}
<!--             <li>Programme Title: {{complete_title}}</li> -->
      
      <tr>
        <td>{{complete_title}}</td>
<!--            {{#linkTo route='showProgramme'}} -->
        <a href="/programmes/{{_id}}">
            <i class="fa fa-info fa-3x"></i>
        </a>
<!--           {{/linkTo}} -->
      </tr>
        {{/esEach}}
    </ul>
    
    {{> esPagination index="programmes"}}
  
    {{#ifEsHasNoResults index="programmes"}}
      <div class="no-results">No results found!</div>
    {{/ifEsHasNoResults}}
  
    {{#ifEsIsSearching index="programmes"}}
      <div>Searching...</div>  
    {{/ifEsIsSearching}}
  
  
  <br>
  <br>
  <br>
  <br>
  
</template>
