<template name="ShowProgramme">
  <style type="text/css">
h1 {
 display:inline;
}
</style>
  <div id="top" class="top" name="top"></div>
  <div class="page-header">
    <h1>Programme Info</h1>
  </div>
  <div class="jumbotron">
    <div class="page-header">
      <h2>Title</h2>
      <p>{{complete_title}}</p>
    </div>
    <h2>Availability</h2>
    <table class="table table-hover">
    <thead>
      <tr>
        <th>From</th>
        <th>To</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{moFormat epoch_start 'DD/MM/YYYY'}}</td>
        <td>{{moFormat epoch_end 'DD/MM/YYYY'}}</td>
      </tr>
    </tbody>
  </table>
    
    <table class="table table-hover">
          <thead>
      <tr>
        <th><h2>Service</h2></th>
        <th><h2>Master Brand</h2></th>
        <th><h2>Type</h2></th>
        <th><h2>Other Info</h2></th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
<!--         {{#if equals serviceDisplay null}} -->
        <td><p>{{serviceDisplay}}</p></td>
<!--         {{else}} -->
        <td><p>{{masterBrandDisplay}}</p></td>
<!--         {{/if}} -->
        <td>{{{mediaType}}}</td>
<!--         {{#if mediaType=audio}} -->
<!--         <td><i class="fa fa-volume-up fa-3x"></i></td> -->
<!--         {{/if}} -->
<!--         {{#if mediaType=video}} -->
<!--         <td><i class="fa fa-film fa-3x"></i></td> -->
<!--         {{/if}} -->
        <td>
          {{#if isDubbedAD categories}}
          <p style="font-size:15px"><a href="/channels/{{_id}}"><span class="label label-primary">Dubbed/AD</span></a></p>
          {{/if}}
          {{#if isSigned categories}}
          <p style="font-size:15px"><a href="/channels/{{_id}}"><span class="label label-primary">Signed</span></a></p>
          {{/if}}          
        </td>
      </tr>
    </tbody>
  </table>
  {{#if isClip}}
    <p>This is a clip</p>
  {{/if}}  
<!--     <h2>Tags</h2>
    <p>{{tagsDisplay}}</p>
    {{#each tagsDisplay}}
    <li>{{this}}</li>
    {{/each}} -->
  </div>
  <div class="jumbotron">
    <div class="page-header">
      <h2>Related Programes</h2>
<!--       <p>Click the related link and then scroll to the top of the page for that programmes information</p> -->
      {{#each relatedProgrammes}}
        <div class="panel panel-default">
        <div class="panel-body">
          <a href="/programmes/{{_id}}" class="related-programme-link">{{complete_title}}</a>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</template>
